{% include 'navbar.html.twig' %}
 {% block stylesheets %}
     <link href="{{ asset('assets/css/product-detail.css') }}" type="text/css" rel="stylesheet" />
     <style>

         .search-button {

             height: 40px;
         }
         .form-control{
             background-color: white;
             border: 1px ;
         }
     </style>
 {% endblock %}
{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="go-back" style="max-width: 1000px;
    margin: 0 auto; margin-top: 20px">
        <a style=" text-decoration: none; color: #f6d148" href="{{ path('productos_index') }}">Volver</a>
    </div>

<div class="container" >

    <div class="div-left">
        <div class="div-img">
            <img src="{{ producto.imagen }}"></td>
        </div>
    </div>
    <div class="div-rigth">
        <h2>{{ producto.titulo }}</h2>
        <span class="price">{{ producto.precio }} €</span>
        <p class="description">{{ producto.descripcion }}</p>
        {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
        <div class="form-group">
            {{ form_label(form.cantidad) }}
            {{ form_widget(form.cantidad, {
                'attr': {
                    'class': 'form-control ' ~ (form.cantidad.vars.valid ? '' : 'is-invalid')
                }
            }) }}
            <div class="invalid-feedback">
                {{ form_errors(form.cantidad) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $('form[name="add_to_cart"]').submit(function() {
        setTimeout(function(){
            Swal.fire("Producto añadido!", "Puedes seguir comprando o ir al carrito a finalizar la compra!", "success");
            return false;
        }, 3000);

    });
</script>

{% endblock %}
