
{% include 'navbar.html.twig' %}

  {% block stylesheets %}
      <style>
          img{
              width: 100px;
              heigth: 1000px;
          }</style>
  {% endblock %}
{% block body %}
    <h1>Productos</h1>
<br>
    <table class="table">
        <thead>
            <tr>

                <th>Cod_referencia</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Peso</th>
                <th>Descripcion</th>
                <th>Ean</th>
                <th>Imagen</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>

                <td>{{ producto.codReferencia }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.peso }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.ean }}</td>
                <td><img src="{{ producto.imagen }}"></td>
                <td>{{ producto.stock }}</td>
                <td>
                    <a href="{{ path('productos_show', {'id': producto.id}) }}">Ver</a>
                    <a href="{{ path('productos_edit', {'id': producto.id}) }}">Editar</a>
                    <a href="{{ path('product.detail', {'id': producto.id}) }}">Añadir</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('productos_new') }}">Crear nuevo</a>
    <div class="navigation">
        {{ knp_pagination_render(productos) }}
    </div>
{% endblock %}
