
{% block title %}<h1>Detalles del pedido</h1>{% endblock %}

{% block body %}
    <style>

        img{
            width: 100px;
        }
    </style>

    <table class="table">
        <thead>
        <tr>
            <th>Cantidad</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Total Unitario</th>

        </tr>
        </thead>
        <tbody>
        {% for orders in order %}
            <tr>
                <td>{{ orders.cantidad }}</td>

                <td>{{ orders.product.nombre }}</td>
                <td>{{ orders.product.precio }} €</td>
                <td>{{ orders.getTotal() }} €</td>

            </tr>

        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}



        </tbody>
    </table>
    <p>Total {{ total }} €</p>
{% endblock %}