
{% include 'navbar.html.twig' %}


{% block body %}
    <style>
        .table-container{
            width: 100%;
            margin-top: 40px;

        }
        .table-container h1{
            text-align: center;
        }

        .table-container p{
            float: right;
        }
        .container{

            text-align: center;
            margin: auto;

        }
        .container th{
            padding: 50px;
        }
        .table-total{
            margin: auto;
            width: 200px;
            margin-top: 40px;
        font-size: 1.25rem;
        }


        img{
            width: 80px;
        }
    </style>
    <div class="table-container">
        <h1>Detalles del pedido</h1>
    <table class="container">
        <thead>
        <tr>
            <th>Cantidad</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Coste Unidad</th>

        </tr>
        </thead>
        <tbody>
        {% for orders in order %}
    <tr>
                <td>{{ orders.cantidad }}</td>

        <td>{{ orders.product.nombre }}</td>
        <td>{{ orders.product.precio }} € </td>
        <td><img src="{{ orders.product.imagen }}"></td>
        <td>{{ orders.getTotal() }} €</td>
    </tr>

        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}



        </tbody>

    </table>
    <div class="table-total">
        <p>Total {{ total }} €</p>
    </div>
    </div>
{% endblock %}