{% include 'navbar.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/orders-detail.css') }}" type="text/css" rel="stylesheet" />
    <style>

        .search-button {

            height: 40px;
        }
    </style>
{% endblock %}
{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div  class="main-container">
<table class="table">
    <thead>
    <tr>
        <th>Nº Pedido</th>
        <th>Creado</th>

        <th>Total</th>

    </tr>
    </thead>
    <tbody>
    {% for orders in order %}
        <tr>
            <td>Nº {{ orders.id }}</td>
            <td>{{ orders.createdAt ? orders.createdAt|date('Y-m-d') : '' }}</td>


            <td>{{ orders.getTotal() }} €</td>
            <td><button class="btn-more"><a href="{{ path('order_details', {'id': orders.id}) }}">Detalles</a></button></td>
            <td><button class="btn-more"><a href="{{ path('generar_pdf', {'id': orders.id}) }}">Generar PDF</a></button></td>
        </tr>

    {% else %}
        <tr>
            <td colspan="12">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}
{% include 'footer.html.twig' %}